<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>monitor_smb</string>
    <key>WorkingDirectory</key>
    <string>${MONITOR_SMB_PATH}</string>
    <key>ProgramArguments</key>
    <array>
        <string>${MONITOR_SMB_PATH}/monitor-smb.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/monitor-smb.stderr</string>
    <key>StandardOutPath</key>
    <string>/tmp/monitor-smb.stdout</string>
</dict>
</plist>
