<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.smb-remount</string>

    <key>WorkingDirectory</key>
    <string>${SMB_PLIST_APP_PATH}</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>${SMB_PLIST_APP_PATH}/${SMB_PLIST_APP_NAME}</string>
        <string>-d</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/tmp/${SMB_PLIST_APP_NAME}.stdout</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/${SMB_PLIST_APP_NAME}.stderr</string>
</dict>
</plist>
